<section class="game-field">
  <div class="decision-buttons">
    <button class="menu-button"
     *ngIf="showGameProgress()"
     (click)="cardTaken.emit()"
     [disabled]="!thisRoom.players[this.blackJackData.userId].isMyTurn">
      Pick a card
    </button>

    <button class="menu-button"
     *ngIf="showGameProgress()"
     (click)="gameStopped.emit()"
     [disabled]="!thisRoom.players[this.blackJackData.userId].isMyTurn ">
      Stop
    </button>
  </div>

  <div *ngFor="let player of players"
    class="player-field">
    <div *ngIf="player.cards" class="player-name">{{ player.name }} </div>
      <div class="player-hand">
        <div class="cards">
          <img *ngFor="let card of player.cards"
          [src]="!showGameProgress() ? card.face : player.id === blackJackData.userId ? card.face : card.back" />
        </div>

        <img class="turn-arrow"
            *ngIf="player.isMyTurn && showGameProgress()"
            src="../../../assets/img/arrow-31182_960_720.png" />
      </div>
  </div>
</section>
