<main>

<div class=login-box>
<p *ngIf="userName">
  Hi {{userName}}!
</p>

<p *ngIf="!userName">
  Hi, unknown user!
</p>

<div *ngIf="!userName"
  class=enter-username>
  <input placeholder="Please introduce yourself" #nameInput>

  <button type="submit"
    (click)=saveUserName(nameInput.value)
    class="menu-button">
    Save
  </button>
</div>

<div *ngIf="userName" class=enter-username>
  <a class="menu-button"
   routerLink="/menu">
   Menu
  </a>
  <button class="menu-button" (click)="userName=''">Change name</button>
</div>
</div>
</main>
