<main>
  <div class=login-box>
  <ng-container *ngIf="!userName">
    <p >
      Hi, unknown user!
    </p>

    <div class=enter-username>

      <input placeholder="Please introduce yourself"
        #nameInput>

      <button type="submit"
        (click)=saveUserName(nameInput.value)
        class="menu-button">
        Save
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="userName">
    <p *ngIf="userName">
      Hi {{userName}}!
    </p>

    <div class=enter-username>
      <a class="menu-button"
        routerLink="/menu">
        Menu
      </a>

      <button class="menu-button"
        (click)="userName=''">
        Change name
      </button>
    </div>
  </ng-container>
  </div>
</main>
