<main class="main-container">
  <p>Hi,
    <span *ngIf="!editName">
      {{blackJackData.userName}}
    </span>

    <input [(ngModel)]="blackJackData.userName"
      *ngIf="editName"
      (keydown)=setNewName($event)>

    <button class="change-name-button"
      (click)="editName=!editName">
      <img src="../../assets/img/pen1.png">
    </button>
  </p>

  <h1>Wellcome to
     <br>
     Black Jack
  </h1>

  <div>
    <button class="menu-button"
      (click)="addRoom('single',1)">
      Single Player
    </button>

    <button class="menu-button"
      routerLink="/game-multi">
      Multi player
    </button>

    <button class="menu-button"
      routerLink="/hall-of-fame">
      Hall of Fame
    </button>
  </div>
</main>
