<div class=main-container>
  <div class=add-room-controls>
    <input #roomName placeholder="room name">

    <input #maxPlayers type=number class=number-of-players placeholder="max players">

    <button type="submit"
      class="menu-button"
      (click)=addRoom(roomName.value,+maxPlayers.value)>
      New room
    </button>
    <button class="menu-button" (click)="router.navigate(['menu'])">Menu</button>
  </div>

  <div class="existing-rooms">

  <div class="room"
    *ngFor="let room of rooms"
    [class.hidden]="(room.maxPlayers === 1)">
    <p>
      {{room.id}}
      {{room.name}}
    </p>

    <p>
      Counter: {{room.counter}} of {{room.maxPlayers}}
    </p>

    <!-- <a class="menu-button"
      [routerLink]="['/playroom', room.id]">
      Enter room
    </a> -->

    <button class="menu-button" (click)="router.navigate(['/playroom', room.id])">Enter room</button>

    <button (click)="deleteRoom(room.id)"
      class="menu-button"
      [disabled]="room.players" >
      Delete
    </button>
  </div>

</div>

</div>
