<div class=main-container>
<div class=add-room-controls>
  <button type="submit"
    (click)=addRoom(roomName.value,+maxPlayers.value)>
    Add room
  </button>

  <input #roomName
    placeholder="room name">

  <input #maxPlayers
    type=number
    class=number-of-players
    placeholder="max players">
</div>

<div class="existing-rooms">

<div class="room"
  *ngFor="let room of rooms">
  <p>{{room.id}}
  {{room.name}}</p>
  <p>Counter: {{room.counter}} of {{room.maxPlayers}}</p>

  <a class="menu-button" [routerLink]="['/playroom', room.id]"> Enter room </a>

  <button (click)="deleteRoom(room.id)"
  class="menu-button"
   [disabled]="room.players" >
    Delete
  </button>
</div>

</div>

</div>
