<section class="side-bar">
  <button class="menu-button"
    routerLink="/menu">
    Menu
  </button>

  <p *ngIf="!gameInProgress">
    Players: {{players ? players.length : 0}} of {{thisRoom ? thisRoom.maxPlayers : 0}}
  </p>

  <div class="master-comtrols"
      *ngIf="thisRoom ? thisRoom.masterId === blackJackData.userId && !gameInProgress : false">

    <button class="menu-button"
      (click)="increaseRoom()">
      Increase room
    </button>

    <button class="menu-button"
      (click)="decreaseRoom()">
      Decrease room
    </button>

    <button class="menu-button"
      *ngIf="thisRoom ? thisRoom.masterId === blackJackData.userId && !gameInProgress : false"
      (click)="addBot()">
      Add bot
    </button>

    <button class="menu-button"
      *ngIf="thisRoom ? thisRoom.masterId === blackJackData.userId && !gameInProgress : false"
      (click)="deleteBot()">
      Delete bot
    </button>

    <button class="menu-button"
      (click)="gameStarted.emit()">
      Start game
    </button>
  </div>

  <div class="game-log">
    <p *ngFor="let message of allMessages">
      {{ message }}
    </p>
  </div>

  <div class="game-score">

    <h2>
      <span *ngIf="!gameInProgress">Game score:</span>
      <span *ngIf="gameInProgress">Players:</span>
    </h2>

    <p *ngFor="let player of players"
      class="player-list"
      [class.player-name]="player.isMyTurn && gameInProgress"
      [class.master]="thisRoom ? thisRoom.masterId === player.id : false"
      [class.is-human]="!player.isBot"
      [class.is-bot]="player.isBot">
      {{player.name}}
      <span *ngIf="!gameInProgress">
        : {{player.score}}
      </span>

      <span *ngIf="player.isFinished && gameInProgress && !(player.score > 21)">
        <img  src="../../../assets/img/stop.png">
      </span>

      <span class="bust"
        *ngIf="player.score > 21">
        BUST!!!
      </span>

      <span class="winner"
        *ngIf="player.isWinner">
        WINNER!!!
      </span>
    </p>
  </div>
</section>
