.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards img {
  display: block;
  width: 90px;
  height: 120px;
  background-color: white;
  z-index: 100;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid grey;
}

.turn-arrow {
  background-color: green;
  width: 60px;
  height: 40px;
}

.player-field{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .decision-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.menu-button {
  min-width: 150px;
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.menu-button:not(:last-child) {
  margin-right: 20px;
}

.menu-button:hover {
  background-color: #6FC6FF;
  cursor: pointer;
}

.next-card:hover,
.stop-game:hover {
  background-color: rgb(103, 152, 238);
}

.next-card:active,
.stop-game:active {
  background-color: rgb(16, 95, 231);
}

.game-field {
  text-align: center;
}



