.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards img {
  display: block;
  width: 90px;
  height: 120px;
  background-color: white;
  z-index: 100;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid grey;
}

.turn-arrow {
  background-color: green;
  width: 60px;
  height: 40px;
}

.player-field{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.decision-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.next-card,
.stop-game {
  width: 150px;
  height: 30px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(73, 128, 223);
}

.next-card:hover,
.stop-game:hover {
  background-color: rgb(103, 152, 238);
}

.next-card:active,
.stop-game:active {
  background-color: rgb(16, 95, 231);
}

.game-field {
  text-align: center;
}



