.new-game  {
  width: 80px;
  height: 30px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(73, 128, 223);
}

.menu-button {
  min-width: 100px;
  border-radius: 5px;
  border: none;
  padding: 5px 5px;
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

/* .menu-button:not(:last-child) {
  margin-right: 20px;
} */

  .menu-button:hover {
    background-color: #6FC6FF;
    cursor: pointer;
  }

.go-to-menu {
  border: 2px solid gray;
  border-radius: 20px;
  display: inline-block;
  width: 55px;
  background-color: rgb(73, 128, 223);
  color: black;
  text-decoration: none;
  font-weight: 100;
  padding:3px 15px;
}

.go-to-menu:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background: rgb(103, 152, 238);
}

.master {
  color: red;
}

.is-finished {
  opacity: 0.5;
}

.bot-number{
  width: 30px;
}

.is-bot {
  background-image: url(../../../assets/img/bot.png);
  background-position-x: 5%;
  background-repeat: no-repeat;
  background-size: 20px;
}

.is-human {
  background-image: url(../../../assets/img/human.png);
  background-position-x: 5%;
  background-repeat: no-repeat;
  background-size: 25px;
}

.player-name {
  background-color: rgba(255, 255, 255, 0.3);
}

.player-list img {
  width: 20px;
}

.player-list {
vertical-align: middle;
font-size: 16px;
line-height: 20px;
}

.player-list span:not(:last-child)  {
padding-right: 10px;
}

.bust {
  display: inline-block;
  background-color: white;
  color: red;
  font-weight: 700;
  font-size: 12px;
  border: 2px solid red;
  border-radius: 5px;
  padding: 3px;
}

.winner {
  display: inline-block;
  background-color: white;
  color: blue;
  font-weight: 700;
  font-size: 12px;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 3px;
}
